@import "tailwindcss";

@layer utilities {
  .inter-font {
    font-family: "Inter", sans-serif;
  }
  .continers {
    width: 80%;
    margin: 0 auto;
  }

  .mobile-continers {
    width: 95%;
    margin: 0 auto;
  }
}

.banner-2 {
  background: url(../image/Banner_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
:root {
  --prymary-color: #f6f6f6;
  --background-color: #211c24;
  --text-white: #ffffff65;
  --text-gray: #909090;
  --background: #ededed;
}
